---
title: Présentation sur les origines du web et son avenir | Alain ANDRE
---

#impress
  = partial 'slide_1/slide_presentation', :locals => {:x => -4000, :y => -20000, :z => 0}
  = partial 'slide_1/slide_concept',      :locals => {:x => -3000, :y => -20000, :z => 0}
  = partial 'slide_1/slide_url',          :locals => {:x => -2000, :y => -20000, :z => 0}
  = partial 'slide_1/slide_osvsweb',      :locals => {:x => -1000, :y => -20000, :z => 0}
  = partial 'slide_1/slide_html',         :locals => {:x => 0,     :y => -20000, :z => 0}
  = partial 'slide_1/slide_css',          :locals => {:x => 1000,  :y => -20000, :z => 0}
  = partial 'slide_1/slide_javascript',   :locals => {:x => 2000,  :y => -20000, :z => 0}
  = partial 'slide_1/slide_php',          :locals => {:x => 3000,  :y => -20000, :z => 0}
  = partial 'slide_1/slide_question1',    :locals => {:x => 4000,  :y => -20000, :z => 0}
  // slides 2
  = partial 'slide_2/slide_presentation', :locals => {:x => 2000,  :y => 7000, :z => 90,     :rotate => 90,  :scale => 10}
  = partial 'slide_2/slide_api',          :locals => {:x => 4000,  :y => -3400, :z => -1000, :rotate => 180, :scale => 5}
  = partial 'slide_2/slide_api1',         :locals => {:x => 4000,  :y => -3400, :z => -2000, :rotate => 180, :scale => 1}
  = partial 'slide_2/slide_ajax',         :locals => {:x => 500,  :y => 6000, :z => -1000, :rotate => 180, :scale => 3}
  = partial 'slide_2/slide_json',         :locals => {:x => 500,  :y => 8000, :z => -1000, :rotate => 180, :scale => 3}
  = partial 'slide_2/slide_json1',        :locals => {:x => 500,  :y => 8200, :z => -7200, :rotate => 180, :scale => 1}
  = partial 'slide_2/slide_crud',         :locals => {:x => 2000,  :y => 4000, :z => -16000, :rotate => 180, :scale => 3}
  = partial 'slide_2/slide_post',         :locals => {:x => 2000,  :y => 4200, :z => -17200, :rotate => 90, :scale => 1}
  = partial 'slide_2/slide_get',          :locals => {:x => 1800,  :y => 4750, :z => -17200, :rotate => 180, :scale => 1}
  = partial 'slide_2/slide_put',          :locals => {:x => 1600,  :y => 4200, :z => -17200, :rotate => 270, :scale => 1}
  = partial 'slide_2/slide_delete',       :locals => {:x => 1800,  :y => 3650, :z => -17200, :rotate => 360, :scale => 1}
  // slides 3
  = partial 'slide_3/slide_presentation', :locals => {:x => 2000,  :y => 7000, :z => 900,  :rotate => 180, :scale => 10}
  = partial 'slide_3/slide_framework',    :locals => {:x => 4000,  :y => 8000, :z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_structure',    :locals => {:x => 4000,  :y => 9000, :z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_repetition',   :locals => {:x => 4000,  :y => 10000,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_convention',   :locals => {:x => 4000,  :y => 10000,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_agile',        :locals => {:x => 4000,  :y => 15000,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_git',          :locals => {:x => 4000,  :y => 15900,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_exemple',      :locals => {:x => 4000,  :y => 16200,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_migration',    :locals => {:x => 4000,  :y => 17000,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_migration1',   :locals => {:x => 4000,  :y => 18000,:z => -100, :rotate => 180, :scale => 3}
  = partial 'slide_3/slide_orm',          :locals => {:x => 4000,  :y => 18000,:z => -100, :rotate => 180, :scale => 3}
  
.hint
  %p
    Utilisez la barre d'espace ou les flêches pour naviger

= javascript_include_tag 'impress'

:javascript 
  if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
  }
  impress().init();
  hljs.initHighlightingOnLoad();
